@import "tailwindcss";  


astro-dev-toolbar {
    display: none !important;
}

/* .hero-container {
    background-image: url('../assets/hero-image-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), 
              url('../assets/hero-image-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
