---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import heroImage from '../assets/hero-image.jpg'
---

<Layout>
  <div class='h-[calc(100vh-100px)] overflow-hidden bg-gray-950'>
    <div
      class='h-full gap-10 hero-container flex flex-col items-center justify-center lg:gap-15 px-20'
    >
      <h1 class='text-4xl py-4 font-bold tracking-widest text-white text-center lg:text-5xl'>
        CUCHILLERIA ARTESANAL ORIX
      </h1>

      <p class='text-center text-xl bg-gray-600 px-6 py-4 rounded-md text-white'>
        Cuchillos de Precisión, con cálidad premium
      </p>

      <h2 class='text-2xl text-center text-white lg:text-3xl'>¿Querés ver nuestros productos?</h2>

      <button
        class='text-xl bg-black text-white px-6 py-4 rounded-md hover:bg-gray-600'
        ><a href='/products'>Hacé click aquí</a></button
      >
    </div>
  </div>
</Layout>


<style>
  h1 {
    font-family: 'Helvetica', sans-serif;
  }
</style>