---

import MobileMenu from "./MobileMenu.astro"

const links = [
    {
        id: 1,
        href: '/',
        label: 'Home'
    },
    {
        id: 2,
        href: '/products',
        label: 'Products'
    },
    {
        id: 3,
        href: '/about',
        label: 'About'
    },
]
---

<nav class="bg-gray-950 text-white h-25 w-full px-4 sm:px-8 md:px-16 xl:px-32 flex items-center justify-between">
    <!-- LEFT -->
    <div class="logo-title"> 
        <a class="text-2xl" href="/">
            ORIX CUCHILLOS
        </a>
    </div>

    <!-- RIGHT -->

    <div class="hidden sm:block">
        <ul class="flex sm:gap-4 md:gap-8 lg:gap-16 first-child">
            {
                links.map((link, index )=> (<a class={`text-2xl py-2 px-4 ${index === 0 ? 'bg-white text-black' : ''} hover:bg-gray-600 hover:text-white rounded-md`}href={link.href}>{link.label}</a>))
            }
        </ul>
    </div>
    <MobileMenu />
</nav>
